* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #000a;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedie {
    background: #00fa;
    border-radius: 4vw;
    border:3px solid #007;
    box-shadow: 0 0 3vh #0f0;
    padding: 4vh 5vw;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.head {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.head h1 {
    text-align: center;
}


input {
    padding: 1vh 2vw;
    border-radius: 5vh;
}

.respuesta {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}