* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 2vw;
    font-weight: bold;
}

/* Body/Cuerpo de la pagina */
body {
    background: url(../img/fondo.jpg) fixed center no-repeat #0007;
    background-size: cover;
    backdrop-filter: blur(2px);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* Filtro de pantalla */
body::before {
    content: "";
    background: #000;
    opacity: .5;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -100;
}

/* "body" */
.cuerpo {
    width: 40%;
    height: 45vw;
    background: rgba(8, 63, 99, 0.795);
    backdrop-filter: blur(1px);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2vw;
    box-shadow: inset 0 0 2vw #fffa,
    0 0 2vw #000,
    0 0 2vw #000,
    0 0 2vw #000;
}

/* Fondo de la calculadora */

.calculadora {
    margin: 3vh 3vw;
    background: #000a radial-gradient(#ffffff15,#0000,#0000,#0000);
    backdrop-filter: blur(1px);
    border-radius: 1rem;
    padding: 3vw;
    height: 80%;
    width: 80%;
    box-shadow: inset 0 0 2vw #fff6,
    0 0 2vw #000;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 30% 70%;
    gap: 1vw;
    /*display: flex;
    flex-direction: column;*/
}


/* Pantalla de la calc ------------------------------------------------------------------*/

.pantalla {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #04a;
    border-radius: 2vw;
    position: relative;
    box-shadow: inset -2vw -2vw 10vw #0bf,
    inset -1vw -1vw 4vw #fff;
/*    flex: 1;*/
}

/* .pantalla::before {
    content: "";
    background: #000;
    opacity: .4;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 2vw;
} */

/* Los dos */
/* .pantalla div {
    text-align: right;
} */


/* acumulado */
#acumulado {
    background: #00f7;
    flex: 1;
    text-align: right;
    text-justify:inherit;
    padding: .5vw 2vw 0 0;
}


#numeros {
    padding: .5vw 2vw 0 0;
    flex: 1.2;
    background-color: #0ff7;
    text-align: end;
}


/*
#screen {
    width: 100%;
    height: 70%;
    font-size: 2vw;
    padding: 1vw;
    border-radius: 2vw;
    font-weight: bolder;
    background: #fff linear-gradient(9deg, #0de, #055);
    box-shadow: inset .5vw -.3vw 1vw #aaf7,
    inset -.5vw -.3vw 3vw #000,
    0 0 .5vw #000; 
    color: #fff;
    border: .2vw solid #000;
    outline-style: solid;
}

#screen::placeholder {
    color: #222;
}

#screen::before {
    content: "";
    background: #000;
    position: absolute;
    width: 100%;
    height: 70%;
    opacity: .7;
    z-index: 100;
}
 */
/* Botones --------------------------------------- */

/* Botones En General */
input {
    border-radius: 100%;
    background: radial-gradient(#aaa,#000);
    width: 30%;
    height: 100%;
}

/* Div de botones */
.div-butons {
    display: flex;
    background: #3337;
    padding: 1vh 1vw;
    border-radius: 1vw;
    width: 100%;
    height: 100%;

/*    flex: 4;*/
}

/* Div bonotes izquierda */
.left-butons {
    flex: 2;
    max-width: 80%;
    min-width: 40%;
    height: 100%;
    display: grid;
    grid-auto-rows: 1fr;
    gap: .5vw;
}

.left-butons div {
    flex: 1;
}

/* Divs Botones izquierda subdiviciones */
.izquierda {
    display: flex;
    justify-content: space-between;
    flex: 1;
}

/* Div Botones de borrado */
.erasers {
    display: flex;
    gap: 1vw;
    height: 100%;
}

/* Borrar todo */
#eraser-1 {
    flex: 1;
    border-radius: 1vw;
}

/* Borrar uno por uno */
#eraser-2 {
    flex: 2.3;  
    border-radius: 2vw;
    background: radial-gradient(#f00,#b00,#700,#400) !important;
    z-index: 1000;
}

#eraser-2 > img {
    max-width: fit-content;
    width: 4vw;
    height: auto;
    z-index: 100;
}

/* Los dos botoner de borrado */
#eraser-1, #eraser-2 {
    background: radial-gradient(#aaa,#000);
    height: 100%;
}

/* Separador de botones */
hr {
    border: #000 .1vw solid;
    margin: 0 1vw;
}


/* Parte de la derecha */
.right-butons {
    flex: .5;
    max-width: 60%;
    min-width: 20%;
    height: 100%;
    display: grid;
    grid-auto-rows: 1fr;
}

/* Div Botones Derecha */
.right-butons > input {
    width: 100%;
    height: 100%;
    border-radius: 3vw;
    background: radial-gradient(#fa0,#fa0,#fa0,#a60,#a60);
    /* border: .3vw groove #000; */
    box-shadow: inset 0 0 1vw #000;
}


input:active,#eraser-1:active {
    background: #000a;
    color: #fff;
}

#eraser-2:active {
    background: #0f07 !important;
}

.button:active {
    background: #f80 ;
}